*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

::placeholder{
    color: #C4C4C4;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}